.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }
  
  .btn-reverse {
    background: #fff;
    color: #000;
    border-color: #000;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }
  
  .btn-delete {
    background: darkred;
    color: #fff;
    border-color: darkred;
    font-size: 13px;
    padding: 5px 10px;
  }
  
  .btn-login{
    display: flex;
    justify-content: center;
  }